#waterfallFlow{width:1000px;margin:auto;}
#waterfallFlow>ul{width:300px;margin:5px;float:left;}
#waterfallFlow li{background-color:#ccc;margin:10px 0;border:1px solid #ccc;overflow:hidden;}
#waterfallFlow img{width:100%;}