img,textarea,input,select,meter,progress,button,select,keygen{vertical-align:bottom;}
input,textarea,button,fieldset,select{border-width:1px;border-style:solid;}
input:focus,textarea:focus,select:focus,button:focus{outline:none;}
mark,input,button,textarea,select,keygen,a:link{color:inherit;}
h1,h2,h3,h4,h5,h6,b,strong,optgroup{font-weight:inherit;}
h1,h2,h3,h4,h5,h6,textarea{margin-top:0;margin-bottom:0;}
meter,progress,button,select{box-sizing:content-box;}
html{line-height:1;overflow-x:hidden;font-size:12px;}
p,pre,ul,dl,ol,menu{margin-top:0;margin-bottom:0;}
textarea,button,fieldset,input,option{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
meter,progress,sub,sup{vertical-align:baseline;}
code,kbd,pre,samp,textarea{font-family:inherit;}
h1,h2,h3,h5,h6,sub,sup{font-size:inherit;}
address,cite,dfn,em,i{font-style:inherit;}
button,mark{background-color:transparent;}
img[src$='.jpg']{background-color:#ccc;}
pre,select,option{white-space:inherit;}
fieldset{margin-left:0;margin-right:0;}
legend{padding-left:0;padding-right:0;}
meter,progress{height:auto;width:auto;}
a:hover{text-decoration:underline;}
body,blockquote,figure{margin:0;}
del,ins,a{text-decoration:none;}
ul,ol,dd,menu{padding-left:0;}
ul,ol,menu{list-style-type:none;}
q:before,q:after{content:'';}
th{font-weight:normal;}
textarea{resize:none;}
fieldset{border:none;}
option{min-height:0;}
th{text-align:left;}
dd{margin-left:0;}
hr{display:none;}

h1{font-weight:bold;margin:1em 0;}
html{font-size:18px;}

/*tab切换*/
#tab{overflow:hidden;height:400px;width:400px;}
#tab>.tabContent>div:first-child{opacity:1;}
#tab>.tabContent>div{opacity:0;position:absolute;}
#tab>.tabTitle>.style{color:orange;}
#tab>.tabTitle>span{cursor:pointer;}
#tab>.tabContent>.style{z-index:2;opacity:1;}

#tab2{overflow:hidden;height:400px;width:400px;}
#tab2>.tabContent>div:first-child{opacity:1;}
#tab2>.tabContent>div{opacity:0;position:absolute;}
#tab2>.tabTitle>.style{color:orange;}
#tab2>.tabTitle>span{cursor:pointer;}
#tab2>.tabContent>.style{z-index:2;opacity:1;}
/*图片库*/

/*滚动对象*/
.strip{width:200px;overflow:hidden;height:18px;background-color:#ccc;}
.strip>div{width:1000px;}
#strip ul{float:left;}
#strip li{float:left;}

/*拖拽对象*/
.drag{width:200px;height:200px;position:relative;top:0;left:0;}
#drag{background-color:#ccc;}
#drag2{background-color:#999;}

#dd{background-color:#000;opacity:0;width:200px;height:200px;}
/*#dd:hover{opacity:1;}*/
