img,textarea,input,select,meter,progress,button,select,keygen{vertical-align:bottom;}
input,textarea,button,fieldset,select{border-width:1px;border-style:solid;}
input:focus,textarea:focus,select:focus,button:focus{outline:none;}
mark,input,button,textarea,select,keygen,a{color:inherit;}
h1,h2,h3,h4,h5,h6,b,strong,optgroup{font-weight:inherit;}
h1,h2,h3,h4,h5,h6,textarea{margin-top:0;margin-bottom:0;}
meter,progress,button,select{box-sizing:content-box;}
p,pre,ul,dl,ol,menu{margin-top:0;margin-bottom:0;}
textarea,button,fieldset,input,option{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
meter,progress,sub,sup{vertical-align:baseline;}
code,kbd,pre,samp,textarea{font-family:inherit;}
h1,h2,h3,h5,h6,sub,sup{font-size:inherit;}
address,cite,dfn,em,i{font-style:inherit;}
button,mark{background-color:transparent;}
pre,select,option{white-space:inherit;}
fieldset{margin-left:0;margin-right:0;}
legend{padding-left:0;padding-right:0;}
meter,progress{height:auto;width:auto;}
html{line-height:1;overflow-x:hidden;}
body,blockquote,figure{margin:0;}
del,ins,a{text-decoration:none;}
ul,ol,dd,menu{padding-left:0;}
ul,ol,menu,li{list-style-type:none;}
q:before,q:after{content:'';}
th{font-weight:normal;}
textarea{resize:none;}
fieldset{border:none;}
option{min-height:0;}
th{text-align:left;}
dd{margin-left:0;}
hr{display:none;}
a{color:inherit;}
body,input{font-family:'Microsoft YaHei', '黑体';}
img{width:100%;}

/*去除iphone表单默认样式*/
html,body,a,input{-webkit-tap-highlight-color:transparent;}
input{-webkit-appearance:none;}

/*input placeholder 提示颜色*/
::-webkit-input-placeholder {
  color: #C8C7CC;
}

$fs:16;
/*iphone6p*/
@media screen and (max-width : 414px){
  html{
    font-size:18px;
  }
}
/*iphone6*/
@media screen and (max-width : 375px){
  html{
    font-size:16px;
  }
}
/*iphone4 && iphone5*/
@media screen and (max-width : 320px){
  html{
    font-size:14px;
  }
}












//yan zheng ma ti shi
.msg div{
  position:fixed;top:0;right:0;left:0;line-height:2rem;background-color:#fcdd4c;font-size:12rem/$fs;text-align:center;animation:animations 2s;opacity:0;z-index:2;color:#000;
}

@keyframes animations{
    0%{opacity:0;}
    30%{opacity:1;}
    70%{opacity:1;}
    100%{opacity:0;}
}

//yan zheng ti shi
.message2 div{
  position:fixed;top:0;right:0;left:0;line-height:2rem;background-color:#fcdd4c;font-size:14rem/$fs;text-align:center;animation:animations 2s;opacity:0;z-index:2;color:#000;
}

@keyframes animations{
    0%{opacity:0;}
    30%{opacity:1;}
    70%{opacity:1;}
    100%{opacity:0;}
}

/*alert*/
#popUp{
  position:fixed;top:0;left:0;right:0;bottom:0;font-family:'Microsoft YaHei';
  >.mark{
    background-color:rgba(0,0,0,.1);top:0;left:0;right:0;bottom:0;position:absolute;
  }
  >.content{
    padding-top:25rem/$fs;padding-bottom:25rem/$fs;border-radius:6px;width:70%;background-color:#fff;position:absolute;top:50%;left:0;right:0;margin:auto;z-index:2;transform:translatey(-50%);
  }
  .close{
    position:absolute;top:3%;right:2%;width:5%;display:none;
  }
  .close img{width:100%;}
  .ys{
    font-size:16rem/$fs;width:85%;background-color:#f73e3e;text-align:center;line-height:40rem/$fs;color:#fff;margin:auto;border-radius:4px;margin-top:15rem/$fs;
  }
  .con{text-align:center;font-size:15px;line-height:1.6;}
}




