<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>refresh</title>
</head>
<body>
	<!-- <div id="page-ptr" class="page page-current">
		<div class="content pull-to-refresh-content native-scroll transitioning" style="">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="card-header">卡片标题</div>
					<div class="card-content">
						<div class="card-content-inner">
						下拉屏幕试试，会出现更多的卡片
						</div>
					</div>
				</div>
			</div>
		</div>

	</div> -->

<div id="page-ptr" class="page page-current">
	<div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
	      <div class="list-block">
	          <ul class="list-container">
	          </ul>
	      </div>
	      <!-- 加载提示符 -->
	      <div class="infinite-scroll-preloader">
	          <div class="preloader"></div>
	      </div>
	  </div>
</div>
</body>
</html>

<script src="/dist/js/refresh.js"></script>