#inputCue{display:block;margin:auto;width:200px;height:40px;font-size:22px;color:#ccc;border-color:#000;}
#inputCue.active{color:#000;}

#inputCue2{display:block;margin:auto;width:200px;height:40px;font-size:22px;color:#ccc;border-color:#000;}
#inputCue2.active{color:#000;}