@charset "utf-8";
/* CSS Document */
body{background:#f6f6f6;color:#333;font-size:12px;}
a{color:#000;text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;color:#f0819d;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,abbr,pre,img,span{margin:0;padding:0;}
table{border-spacing:0;border-collapse:collapse;}
fieldset,img,abbr,acronym{border:0;}
img{display:block;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
input,textarea{outline:none;}
textarea{resize:none;}
/*header*/
#header{height:900px;background-color:#999;}
.nav p{float:left;margin:30px 90px 0 10px;}
.logo{display:block;overflow:hidden;padding-bottom:15px; width: 182px; height: 67px;background-position: 0 -80px;text-indent:-1000px;}
.nav{position:relative;margin:0 auto;width:1000px;}
.na a{display:block;float:left;padding:10px 20px;color:#ebdca3;font-size:24px;font-family:'Microsoft YaHei';}
.na a:hover{background:#693;}
.na .hr{background:#693;}
.dn{position:absolute;top:45px;left:0;z-index:9;height:900px;background:#693;display:none;}
.dn ul{margin-top:15px;}
.dn li{padding:15px;font-size:24px;background-color:#FFF;border:1px solid #999;}
.pic LI{position:absolute;top:250px;left:10px;z-index:-1;}