*{margin:0; padding:0;}
a{text-decoration:none; color:#000;}
ul{list-style:none;}
#warp{width:1000px; margin:0 auto;}
/*************************************/
#scrolltop {display:none; position:fixed; bottom:10px; left:50%; 
_position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight));
margin-left:480px; width:16px; border-radius:3px; font-size:14px; text-align:center; color:#080; cursor:pointer; padding:1px; background:#ccc; }




#jjj{ font-size:66px; }



#banner{width:512px; height:96px; position:relative; overflow:hidden;}
#tu{width:2048px; height:96px; position:absolute;}
#tu div{ display:block;float:left;}
#next{cursor:pointer; padding:96px 0 0 0;}
#pre{cursor:pointer;}
.fang{margin:100px 0 0 0;}
/*.fang div{width:12px; height:12px; background:#CCC;}*/
.ppp{width:12px; height:12px; background:#CCC;}
.ccc{width:12px; height:12px; background:red;}




/*.iii{background:#000; width:300px; height:220px;}*/
/*.qqq div{background:#000; width:300px; height:220px;}*/
.fff{width:110px; background:#093; color:#FFF;}
.uuu{background:red; width:400px; height:320px;}



#big{width:680px; height:450px; background:#CCC;}
#small div{float:left;}
#small div img{width:150px; cursor:pointer;}



#hhh1{width:680px; height:450px; background:#999;}
#hhh2 img{width:150px; cursor:pointer; float:left;}

.ce{border:5px solid #0CC;}



#www{ width:50px;  background:#099;word-wrap:break-word; height:100px;}



#nav_1 li{ display:block; float:left; margin-right:10px; cursor:pointer; width:90px; background:#090; color:#FFF; text-align:center;}
#kuai{height:20px; width:90px; background: url(../img/pointer.png) no-repeat center 20px #CCC; margin:0 0 20px 0; padding:0 0 20px 0; text-align:center;}




#banner2{width:256px; position:relative; overflow:hidden; height:98px;}
#banner2 #tu2 div{float:left; display:block;}
#banner2 #tu2{position:absolute; width:512px; height:98px;}
#next2{cursor:pointer;}



#banner3{position:relative; width:478px; height:286px; overflow:hidden;}
#banner3_bg{position:absolute; background:#333; height:30px; Alpha(Opacity=30); opacity:0.3; width:478px; z-index:2;}
#banner3_info{position:absolute; z-index:4; left:350px; color:#FFF;}
#banner3 ul{position:absolute; list-style:none; z-index:3;}
#banner3 li{display:block; float:left; border:2px solid #333; cursor:pointer; padding:0px 5px; margin:2px 5px; color:#FFF;}
#banner3 li.on{background:#0C0;}
#banner3 a{position:absolute;}






#mm99{ width:200px; position:relative; overflow:hidden; height:100px; background:#999; }
#szm1{ position:absolute; width:400px; }
#szm1 div{ width:100px; height:100px; }
#f1{ background:#060; float:left; }
#f2{ background:#03C; float:left; }
#f3{ background:#993; float:left; }
#f4{ background:#CC0; float:left; }
#yyyy{ background:#CCC; padding:5px; width:200px; text-align:center; cursor:pointer; }
#uuuu{ background:#9FC; padding:5px; width:200px; text-align:center; cursor:pointer; }






/*04040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404*/


.modal-profile h2{ font-size:2em; letter-spacing:-1px; }
.modal-profile{ display:none; height: 250px; width: 500px; padding:25px; border:1px solid #fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; background: #f2f2f2; z-index:50; }
a.modal-close-profile{ position:absolute; top:-15px; right:-15px; }
a.modal-social{ margin:0 10px 0 0; }
.modal-lightsout{ display:none; position:absolute; top:0; left:0; width:100%; z-index:25; background:#333; }
#warp1{ position:relative; width:400px; height:200px; border:1px solid #333; overflow:hidden; }
#over{ position:absolute; left:0; top:0; z-index:1; background:#666; width:400px; height:200px; }
#hover{ position:absolute; z-index:10; width:350px; height:200px; padding:25px; }
#girl{ width:478px; height:286px; border:1px solid #333; position:relative; overflow:hidden; }
#girl2{ width:470px; height:503px; border:1px solid #333; position:relative; overflow:hidden; }
#girl_nei .king,#girl_nei2 .king2{ float:left; }
#girl_nei,#girl_nei2{ position:absolute; background:#093; }
#next2{ background:#060; font-size:22px; width:100px; height:30px; line-height:25px; text-align:center; cursor:pointer; float:left; margin:5px; border:1px solid #666; }
#pre{ background:#990; font-size:22px; width:100px; height:30px; line-height:25px; text-align:center; cursor:pointer; float:left; margin:5px; border:1px solid #666; }
#doc{ margin:0 auto; width:500px; position:relative; }
#k1{ background:url(../img/00_2.jpg) no-repeat left bottom; width:103px; height:103px; position:absolute; left:-115px; top:150px; cursor:pointer;  }
#k2{ background:url(../img/00_2.jpg) no-repeat; width:103px; height:103px; position:absolute; left:475px; top:150px; cursor:pointer; }
#small_img img,#small_img2 img{ width:110px; padding:3px; cursor:pointer; float:left; }
#empty{ width:110px; border:3px solid #9C0; position:absolute; height:118px; }
#warp_small{ width:1000px; position:absolute; }
#cn{ width:465px; overflow:hidden; height:110px; position:relative; }
#warp_alt{ font-size:30px; color:#FFF; z-index:9; }
#alt{ background:#C60; width:470px; height:50px; opacity:.5; position:absolute; top:454px; }



#bg_po{ background:url(img/1x.jpg) no-repeat; width:680px; height:450px; display:block; overflow:auto; }
#bg_po:hover{ background-position:left bottom; }
#bg_po1{ background:url(img/1.jpg) no-repeat; width:680px; height:450px; display:block; overflow:auto; }
#bg_po1:hover{ background:url(img/2.jpg) no-repeat; width:980px; height:450px; display:block; overflow:auto; }
body {
background-image: url(../images/bg.gif);
background-repeat: repeat-x;
background-color: #FFFFFF;
margin: 0px;
padding: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
 
#top {
width: 950px;
margin-top: 50px;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
}
 
#title {
margin: auto;
width: 495px;
clear: both;
}
 
#navigation {
float:left;
width:100%;
overflow:hidden;
position:relative;
margin-top: 20px;
margin-bottom: 20px;
}
 
#navigation ul {
clear:left;
float:left;
list-style:none;
margin:0;
padding:0;
position:relative;
left:50%;
text-align:center;
}
 
#navigation ul li {
display:block;
float:left;
list-style:none;
margin:0;
padding:0;
position:relative;
right:50%;
}
 
#navigation ul li a {
display:block;
margin:0 0 0 1px;
padding:3px 10px;
color:#666666;
text-decoration:none;
line-height:1.3em;
}
 
#navigation ul li a:hover {
color:#000000;
}
 
#navigation ul li a.active, #navigation ul li a.active:hover {
color:#000000;
font-weight:bold;
}
 
#homepage {
float: left;
width: 950px;
height: 800px;
}
 
#about, #gallery, #portfolio, #contact {
float: left;
width: 950px;
height: 600px;
}
 
h1 {
color: #5a5a5a;
font-size: 24px;
font-weight: normal;
margin: 0px;
padding: 0px;
}
 
span.description {
color: #9f9f9f;
font-size: 12px;
}
 
.top {
background-image: url(../images/top.png);
background-repeat: no-repeat;
float: left;
height: 48px;
width: 950px;
padding-bottom: 35px;
background-position: bottom;
margin-bottom: 20px;
}
 
.top p {
text-align: center;
color: #999999;
font-size: 10px;
}

#number a{ display:block; float:left; width:100px; height:20px; margin:10px; text-align:center; color:#CCC; }
.r1{ background:#960; }
r2{ background:#666; }