/*计数器*/
.counter1,.chinese,.lower_alpha,.upper_alpha{counter-reset:nub;}
.counter1>*,.chinese>*,.lower_alpha>*,.upper_alpha>*{counter-increment:nub;}
.counter1>*:before{content:counter(nub);}
.chinese>*:before{content:counter(nub,cjk-ideographic)'\00A0';}
.lower_alpha>*:before{content:counter(nub,lower-alpha)'\00A0';}
.upper_alpha>*:before{content:counter(nub,upper-alpha)'\00A0';}
/*两端对齐*/
.justify{text-align:justify;margin-bottom:-1em;line-height:1;}
.justify:after{content:'';width:100%;display:inline-block;}
.justify>*{display:inline-block;vertical-align:top;}
/*垂直居中-水平居中-垂直水平居中*/
.top_bottom_auto{position:absolute;top:0;bottom:0;margin-top:auto;margin-bottom:auto;}
.left_right_auto{position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;}
.auto{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.middle{display:table-cell;vertical-align:middle;}
/*等高*/
.high{padding-bottom:32767px;margin-bottom:-32767px;}
/*清除浮动*/
.clearfix:after{content:'.';display:block;clear:both;height:0;visibility:hidden;}
/*文字用省略号截断*/
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ellipsis_dad>*{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*文字在图片上*/
.text_in_the_picture,.text_in_the_picture img{display:block;}
.text_in_the_picture_son{position:absolute;line-height:2em;color:#fff;margin-top:-2em;text-align:center;left:0;right:0;}
/*鼠标经过图片显示遮罩文字*/
.img_hover_display_text_son{position:absolute;background-color:rgba(0,0,0,.5);color:#fff;top:0;bottom:0;left:0;right:0;visibility:hidden;}
.img_hover_display_text:hover .img_hover_display_text_son{visibility:visible;}
/*三角形*/
.triangle:before{content:'';position:absolute;border-style:solid;border-color:transparent;}
/*隐藏元素*/
.hidden{position:absolute;visibility:hidden;}
/*选择所有子元素*/
.child>*{}