/*计数器*/
.counter1,.chinese,.lower_alpha,.upper_alpha{
	counter-reset:nub;
}
.counter1>*,.chinese>*,.lower_alpha>*,.upper_alpha>*{
	counter-increment:nub;
}
.counter1>*:before{
	content:counter(nub);
}
.chinese>*:before{
	content:counter(nub,cjk-ideographic)'\00A0';
}
.lower_alpha>*:before{
	content:counter(nub,lower-alpha)'\00A0';
}
.upper_alpha>*:before{
	content:counter(nub,upper-alpha)'\00A0';
}

/*两端对齐*/
.justify{
	text-align:justify;margin-bottom:-1em;line-height:1;
}
.justify:after{
	content:'';width:100%;display:inline-block;
}
.justify>*{
	display:inline-block;vertical-align:top;
}

/*垂直居中-水平居中-垂直水平居中*/
.top_bottom_auto{
	position:absolute;top:0;bottom:0;margin-top:auto;margin-bottom:auto;
}
.left_right_auto{
	position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;
}
.auto{
	position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;
}
.middle{
	display:table-cell;vertical-align:middle;
}

/*等高*/
.high{
	padding-bottom:32767px;margin-bottom:-32767px;
}

/*清除浮动*/
.clearfix:after{
	content:'.';display:block;clear:both;height:0;visibility:hidden;
}

/*文字用省略号截断*/
.ellipsis{
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	>*{
		overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	}
}

/*选择所有子元素*/
.child>*{}

/*loading*/
/*<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>*/
.spinner {
	letter-spacing:-10px;position:absolute;left:0;right:0;bottom:0;top:0;margin:auto;width:50px;height:60px;text-align:center;font-size:10px;
	div{
		margin:0 2px;
	}
	>div{
		background-color: #67CF22;height: 100%;width: 6px;display: inline-block;animation: stretchdelay 1.2s infinite ease-in-out;
	}
	.rect2 {
		animation-delay: -1.1s;
	}
	.rect3 {
		animation-delay: -1.0s;
	}
	.rect4 {
		animation-delay: -0.9s;
	}
	
	.rect5 {
		animation-delay: -0.8s;
	}
}
@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	} 20% {
		transform: scaleY(1.0);
	}
}