img,textarea,input,select,meter,progress,button,select,keygen{vertical-align:bottom;}
input,textarea,button,fieldset,select{border-width:1px;border-style:solid;}
input:focus,textarea:focus,select:focus,button:focus{outline:none;}
mark,input,button,textarea,select,keygen,a:link{color:inherit;}
h1,h2,h3,h4,h5,h6,b,strong,optgroup{font-weight:inherit;}
h1,h2,h3,h4,h5,h6,textarea{margin-top:0;margin-bottom:0;}
meter,progress,button,select{box-sizing:content-box;}
p,pre,ul,dl,ol,menu{margin-top:0;margin-bottom:0;}
textarea,button,fieldset,input,option{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
meter,progress,sub,sup{vertical-align:baseline;}
code,kbd,pre,samp,textarea{font-family:inherit;}
h1,h2,h3,h5,h6,sub,sup{font-size:inherit;}
address,cite,dfn,em,i{font-style:inherit;}
button,mark{background-color:transparent;}
pre,select,option{white-space:inherit;}
fieldset{margin-left:0;margin-right:0;}
legend{padding-left:0;padding-right:0;}
meter,progress{height:auto;width:auto;}
html{line-height:1;overflow-x:hidden;}
body,blockquote,figure{margin:0;}
del,ins,a{text-decoration:none;}
ul,ol,dd,menu{padding-left:0;}
ul,ol,menu,li{list-style-type:none;}
q:before,q:after{content:'';}
th{font-weight:normal;}
textarea{resize:none;}
fieldset{border:none;}
option{min-height:0;}
th{text-align:left;}
dd{margin-left:0;}
hr{display:none;}
a:visited{color:#999;}
