img,textarea,input,select,meter,progress,button,select,keygen{vertical-align:bottom;}
input,textarea,button,fieldset,select{border-width:1px;border-style:solid;}
input:focus,textarea:focus,select:focus,button:focus{outline:none;}
mark,input,button,textarea,select,keygen,a:link{color:inherit;}
h1,h2,h3,h4,h5,h6,b,strong,optgroup{font-weight:inherit;}
h1,h2,h3,h4,h5,h6,textarea{margin-top:0;margin-bottom:0;}
meter,progress,button,select{box-sizing:content-box;}
p,pre,ul,dl,ol,menu{margin-top:0;margin-bottom:0;}
textarea,button,fieldset,input,option{padding:0;}
table{border-collapse:collapse;border-spacing:0;}
meter,progress,sub,sup{vertical-align:baseline;}
code,kbd,pre,samp,textarea{font-family:inherit;}
h1,h2,h3,h5,h6,sub,sup{font-size:inherit;}
address,cite,dfn,em,i{font-style:inherit;}
button,mark{background-color:transparent;}
pre,select,option{white-space:inherit;}
fieldset{margin-left:0;margin-right:0;}
legend{padding-left:0;padding-right:0;}
meter,progress{height:auto;width:auto;}
html{line-height:1;overflow-x:hidden;}
body,blockquote,figure{margin:0;}
del,ins,a{text-decoration:none;}
ul,ol,dd,menu{padding-left:0;}
ul,ol,menu,li{list-style-type:none;}
q:before,q:after{content:'';}
th{font-weight:normal;}
textarea{resize:none;}
fieldset{border:none;}
option{min-height:0;}
th{text-align:left;}
dd{margin-left:0;}
hr{display:none;}
/*a:visited{color:#999;}*/
body{font-size:14px;}
.cb{clear:both;}
.wsn{white-space:nowrap;}
.ovh{overflow:hidden;}
.pr{position:relative;}
.pa{position:absolute;}
.fl{float:left;}
.fr{float:right;}
.dn{display:none;}
.db{display:block;}
.di{display:inline;}
.dib{display:inline-block;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.fwb{font-weight:bold;}
.lh1{line-height:1;}
.lh16{line-height:1.6;}
.lh18{line-height:1.8;}
.lh2{line-height:2;}
.ti2{text-indent:2em;}
.p5{padding:5px;box-sizing:border-box;}
.p10{padding:10px;box-sizing:border-box;}
.p15{padding:15px;box-sizing:border-box;}
.p20{padding:20px;box-sizing:border-box;}
.p25{padding:25px;box-sizing:border-box;}
.ptpb5{padding-top:5px;padding-bottom:5px;box-sizing:border-box;}
.ptpb10{padding-top:10px;padding-bottom:10px;box-sizing:border-box;}
.ptpb15{padding-top:15px;padding-bottom:15px;box-sizing:border-box;}
.ptpb20{padding-top:20px;padding-bottom:20px;box-sizing:border-box;}
.ptpb25{padding-top:25px;padding-bottom:25px;box-sizing:border-box;}
.plpr5{padding-left:5px;padding-right:5px;box-sizing:border-box;}
.plpr10{padding-left:10px;padding-right:10px;box-sizing:border-box;}
.plpr15{padding-left:15px;padding-right:15px;box-sizing:border-box;}
.plpr20{padding-left:20px;padding-right:20px;box-sizing:border-box;}
.plpr25{padding-left:25px;padding-right:25px;box-sizing:border-box;}
.mlmra{margin-left:auto;margin-right:auto;}
.ml0{margin-left:0;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.mr0{margin-right:0;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr45{margin-right:45px;}
.mr50{margin-right:50px;}
.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.h100{height:100px;}
.h110{height:110px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h170{height:170px;}
.h180{height:180px;}
.h190{height:190px;}
.h200{height:200px;}
.h210{height:210px;}
.h220{height:220px;}
.h230{height:230px;}
.h240{height:240px;}
.h250{height:250px;}
.h260{height:260px;}
.h270{height:270px;}
.h280{height:280px;}
.h290{height:290px;}
.h300{height:300px;}
.h310{height:310px;}
.h320{height:320px;}
.h330{height:330px;}
.h340{height:340px;}
.h350{height:350px;}
.h360{height:360px;}
.h370{height:370px;}
.h380{height:380px;}
.h390{height:390px;}
.h400{height:400px;}
.h410{height:410px;}
.h420{height:420px;}
.h430{height:430px;}
.h440{height:440px;}
.h450{height:450px;}
.h460{height:460px;}
.h470{height:470px;}
.h480{height:480px;}
.h490{height:490px;}
.h500{height:500px;}
.w200{width:200px;}
.w210{width:210px;}
.w220{width:220px;}
.w230{width:230px;}
.w240{width:240px;}
.w250{width:250px;}
.w260{width:260px;}
.w270{width:270px;}
.w280{width:280px;}
.w290{width:290px;}
.w300{width:300px;}
.w310{width:310px;}
.w320{width:320px;}
.w330{width:330px;}
.w340{width:340px;}
.w350{width:350px;}
.w360{width:360px;}
.w370{width:370px;}
.w380{width:380px;}
.w390{width:390px;}
.w400{width:400px;}
.w410{width:410px;}
.w420{width:420px;}
.w430{width:430px;}
.w440{width:440px;}
.w450{width:450px;}
.w460{width:460px;}
.w470{width:470px;}
.w480{width:480px;}
.w490{width:490px;}
.w500{width:500px;}
.w510{width:510px;}
.w520{width:520px;}
.w530{width:530px;}
.w540{width:540px;}
.w550{width:550px;}
.w560{width:560px;}
.w570{width:570px;}
.w580{width:580px;}
.w590{width:590px;}
.w600{width:600px;}
.w610{width:610px;}
.w620{width:620px;}
.w630{width:630px;}
.w640{width:640px;}
.w650{width:650px;}
.w660{width:660px;}
.w670{width:670px;}
.w680{width:680px;}
.w690{width:690px;}
.w700{width:700px;}
.w710{width:710px;}
.w720{width:720px;}
.w730{width:730px;}
.w740{width:740px;}
.w750{width:750px;}
.w760{width:760px;}
.w770{width:770px;}
.w780{width:780px;}
.w790{width:790px;}
.w800{width:800px;}
.w810{width:810px;}
.w820{width:820px;}
.w830{width:830px;}
.w840{width:840px;}
.w850{width:850px;}
.w860{width:860px;}
.w870{width:870px;}
.w880{width:880px;}
.w890{width:890px;}
.w900{width:900px;}
.w910{width:910px;}
.w920{width:920px;}
.w930{width:930px;}
.w940{width:940px;}
.w950{width:950px;}
.w960{width:960px;}
.w970{width:970px;}
.w980{width:980px;}
.w990{width:990px;}
.w205{width:205px;}
.w215{width:215px;}
.w225{width:225px;}
.w235{width:235px;}
.w245{width:245px;}
.w255{width:255px;}
.w265{width:265px;}
.w275{width:275px;}
.w285{width:285px;}
.w295{width:295px;}
.w305{width:305px;}
.w315{width:315px;}
.w325{width:325px;}
.w335{width:335px;}
.w345{width:345px;}
.w355{width:355px;}
.w365{width:365px;}
.w375{width:375px;}
.w385{width:385px;}
.w395{width:395px;}
.w405{width:405px;}
.w415{width:415px;}
.w425{width:425px;}
.w435{width:435px;}
.w445{width:445px;}
.w455{width:455px;}
.w465{width:465px;}
.w475{width:475px;}
.w485{width:485px;}
.w495{width:495px;}
.w505{width:505px;}
.w515{width:515px;}
.w525{width:525px;}
.w535{width:535px;}
.w545{width:545px;}
.w555{width:555px;}
.w565{width:565px;}
.w575{width:575px;}
.w585{width:585px;}
.w595{width:595px;}
.w605{width:605px;}
.w615{width:615px;}
.w625{width:625px;}
.w635{width:635px;}
.w645{width:645px;}
.w655{width:655px;}
.w665{width:665px;}
.w675{width:675px;}
.w685{width:685px;}
.w695{width:695px;}
.w705{width:705px;}
.w715{width:715px;}
.w725{width:725px;}
.w735{width:735px;}
.w745{width:745px;}
.w755{width:755px;}
.w765{width:765px;}
.w775{width:775px;}
.w785{width:785px;}
.w795{width:795px;}
.w805{width:805px;}
.w815{width:815px;}
.w825{width:825px;}
.w835{width:835px;}
.w845{width:845px;}
.w855{width:855px;}
.w865{width:865px;}
.w875{width:875px;}
.w885{width:885px;}
.w895{width:895px;}
.w905{width:905px;}
.w915{width:915px;}
.w925{width:925px;}
.w935{width:935px;}
.w945{width:945px;}
.w955{width:955px;}
.w965{width:965px;}
.w975{width:975px;}
.w985{width:985px;}
.w995{width:995px;}
.w1000{width:1000px;}

.c000{color:#000;}
.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.cccc{color:#ccc;}
.cfff{color:#fff;}
.cnavy{color:#001f3f;}
.cblue{color:#0074d9;}
.caqua{color:#7fdbff;}
.cteal{color:#39cccc;}
.colive{color:#3d9970;}
.cgreen{color:#2ecc40;}
.clime{color:#01ff70;}
.cyellow{color:#ffdc00;}
.corange{color:#ff851b;}
.cpurple{color:#b10dc9;}
.cmaroon{color:#85144b;}
.csilver{color:#dddddd;}
.cgray{color:#aaaaaa;}
.cblack{color:#111111;}
.bc000{background-color:#000;}
.bc333{background-color:#333;}
.bc666{background-color:#666;}
.bc999{background-color:#999;}
.bcccc{background-color:#ccc;}
.bcfff{background-color:#fff;}
.bcnavy{background-color:#001f3f;}
.bcblue{background-color:#0074d9;}
.bcaqua{background-color:#7fdbff;}
.bcteal{background-color:#39cccc;}
.bcolive{background-color:#3d9970;}
.bcgreen{background-color:#2ecc40;}
.bclime{background-color:#01ff70;}
.bcyellow{background-color:#ffdc00;}
.bcorange{background-color:#ff851b;}
.bcred{background-color:#ff4136;}
.bcfuchsia{background-color:#f012be;}
.bcpurple{background-color:#b10dc9;}
.bcmaroon{background-color:#85144b;}
.bcgray{background-color:#aaaaaa;}
.bcsilver{background-color:#dddddd;}
.bcblack{background-color:#111111;}