img{width:100%;}
#tab1{font-size:22px;overflow:hidden;}
#tab1>.title{overflow:hidden;line-height:40px;text-align:center;}
#tab1>.title>div{width:100px;float:left;background-color:#ccc;cursor:pointer;}
#tab1>.content>div{display:none;height:618px;overflow:hidden;}
#tab1>.title>.cur{background-color:#4866fd;color:#fff;}
#tab1>.content>.cur{display:block;}
#tab1>a{width:100px;float:left;background-color:#ccc;line-height:40px;text-align:center;}

img{width:100%;}
#tab2{font-size:22px;overflow:hidden;}
#tab2>.title{overflow:hidden;line-height:40px;text-align:center;}
#tab2>.title>div{width:100px;float:left;background-color:#ccc;cursor:pointer;}
#tab2>.content>div{display:none;height:618px;overflow:hidden;}
#tab2>.title>.cur{background-color:#4866fd;color:#fff;}
#tab2>.content>.cur{display:block;}
#tab2>a{width:100px;float:left;background-color:#ccc;line-height:40px;text-align:center;}